<div class="container">
  <ul class="pager">
    <li class="previous"><a href="#">Previous</a></li>
  </ul>
  <div class="panel panel-success">
    <div class="panel-heading">
      Product List
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <th>Product</th>
          <th>Code</th>
          <th>Available</th>
          <th>Price</th>
          <th>5 Star Rating</th>
        </thead>
        <tbody>
          <tr>
            <td>Test 1</td>
            <td>TST1</td>
            <td>Yest</td>
            <td>10</td>
            <td>3</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>